data/.~lock.*
www/404.html www/blog.html www/clown.html www/CNAME www/coding-artist.html www/contact.html www/css www/d3js.html www/data www/equity-risk-premium.html www/img www/index.html www/js www/main.css www/mercyl_soon.html www/README.html www/valeant.html www/valuation.html
