doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1 shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title= pageTitle + "|" + siteTitle
    link(rel="stylesheet" href="css/bootstrap.css")
  body
    != partial("partial/_header")
    != yield
    != partial("partial/_mailing-list")
    != partial("partial/_footer")

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="js/jquery-3.1.1.slim.min.js")
    script(src="js/tether.min.js")
    script(src="js/bootstrap.min.js")
