doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1 shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title= pageTitle + "|" + siteTitle
    link(rel="stylesheet" href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet" href="css/theme.css")
    link(rel="stylesheet" href="css/vendor/animate.css")
  body
    != partial("partial/_header")
    != yield
    != partial("partial/_footer")

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="js/vendor/jquery-3.1.1.slim.min.js")
    script(src="js/vendor/tether.min.js")
    script(src="js/vendor/bootstrap.min.js")
    script.
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
